h1 {

  text-align: left;
  font-size: 2.5em;
  color: #000000;
  font-weight: normal;
}

p {
  font-size: 1.1em;
}


body {
  background-color:	#ffffcc;
  font-family: Arial, Helvetica, sans-serif;
}

.impressum {
  margin-top: 3em;
}



footer {
  font-size: 1.5vw;
  background-color: white;
}




#introductionTitle {
  padding-top: 35px;
}

#introductionWording {
  padding-top: 25px;
  padding-bottom: 20px;
}

#questionTitle {
  padding-top: 40px;
  padding-bottom: 10px;
}

#questionWording {
  font-size: 1.5em;
  padding-top: 10px;
  padding-bottom: 30px;
}

#answerPanel {
  padding-top: 30px;

}

.buttons {
  margin-top: 25px;
  font-size: 3em;;
  border-radius: 0.25em;
}

#validation-warning {
  font-size: 2em;
  color:darkred;

}

.form-check-label {
  font-size: 1.0em;
  color: mediumblue;

}